services:
  db:
    image: postgres:16-alpine
    container_name: learn_fastapi_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: manager
      POSTGRES_DB: learn_fastapi
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: learn_fastapi_backend
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - /app/.venv
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:manager@db:5432/learn_fastapi
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    command: [ "uv", "run", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]

volumes:
  postgres_data:
